
.main-bg-con{
    min-height: 120vh;
}
.row-1{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .main-bg-con{
    min-height: 160vh;
}
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .main-bg-con{
    min-height: 180vh;
}
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .main-bg-con{
    min-height: 100vh;
  }
}

@media screen and (min-width: 1201px) {
  .main-bg-con{
    margin-top: 5vh;
    min-height: 110vh;
  }
}
