.footer-bg-con {
    width: 100vw;
    margin-top: 10%;

  }
  
  .c-icon {
    font-size: 15px;
  }
  .search-con{
    height: 100%;
  }
 .search-bar-con{
  height: 40px;

 }
  .icon-con {
    height: 30px;
    width: 38px;
    border-radius: 15px;
    background-color: #ecdcf2;
    padding: 9px;
    margin-right: 15px;
  }
  
  .c {
    color: rgb(120, 118, 118);
    font-size: 13px;
    margin-left: 10px;
  }
  
  .media-icon {
    font-size: 16px;
    color: rgb(113, 68, 156);
  }
  
  .footer-link-title {
    color: rgb(26, 25, 25);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .link {
    font-size: 14px;
    color: rgb(107, 105, 105);
    margin-top: 5px;
    cursor: pointer;
  }
  
  .footer-search-btn {
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: blueviolet;
    width: 50px;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px;
  }
  
  .c-con {
    height: 10vh;
    color: #3f3e40;
    background-color: #f5f5f6;
  }
  
  .c-row {
    width: 100vw;
    margin-left: 0px;
    width: 100%;
  }
  
  .invite-friends-con {
    margin-top: 40px;
  }
  

  
  @media screen and (max-width: 576px) {
    .info-con {
      margin-bottom: 20px;
    }
  
    .link {
      margin-top: 2px;
      font-size: 13px;
    }
  
    .footer-link-title {
      font-size: 17px;
    }
  
    .invite-friends-con {
      margin-bottom: 20px;
      margin-top: 30px;
    }
  
    .icon-con {
      height: 25px;
      width: 25px;
      border-radius: 18px;
      padding: 3px;
      margin-right: 12px;
    }
  
    .media-icon {
      font-size: 15px;
    }
  
    .contact-con {
      margin-top: 20px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1275px) {
    .icon-con {
      height: 30px;
      width: 30px;
      border-radius: 15px;
    }
  }
  