
.section-con{
  display: flex;
  justify-content: center;
  padding: 0px;
}

.testimonail-bg-con {
    display: flex;
    justify-content: center;
  
}
  
  .testimonail-card {
    width: 95%;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 2%;
    padding-bottom: 0%;
  }
  
  .quote-round {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8064A2;
    color: antiquewhite;
    margin-right: 20px;
  }
 .testimonail-card-p{
    font-size: 18px;
    font-family: Roboto;
    line-height: 30px;
 }
 .card-bottom-con{
   height: 200px;
 }
 .audio-img {
    height: 100%;
    width: 100%;
  }
  .audio-face-img {
    height: 80%;
    width: 30%;
    margin-right: 5%;
  }


  @media screen and (max-width: 768px) {
     .testimonail-bg-con{
      width: 95vw;
     }

     .audio-face-img {
      height: 90%;
      width: 10%;
      margin-right: 2%;
    }
  }
 

  @media screen and (max-width: 992px) {
    .audio-face-img {
     height: 90%;
     width: 10%;
     margin-right: 2%;
   }
   .audio-img {
    height: 60%;
    width: 100%;
  }
 }


  @media screen and (min-width: 576px) {
    .testimonail-bg-con {
        margin-left: 0%;
      }    
      .section-con{
        padding-left: 4%;
    
      }
      .testimonail-bg-con {
        width: 90vw;
      }
      .testimonail-card{
      
      }
     

  }
  @media screen and (max-width: 576px) {
    .card-p {
      font-size: 15px;
      line-height: 20px;
    }
    .testimonail-card-p{
      font-size: 15px;
      line-height: 20px;
   }
  }
  
  @media screen and (min-width: 577px) and (max-width: 768px) {
    .card-p {
      font-size: 15px;
      line-height: 20px;
    }
    .testimonail-card-p{
      font-size: 16px;
      line-height: 25px;
   }
  
  }
  
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .testimonail-bg-con {
      padding-bottom: 18%;
    }
    .testimonail-card-p{
      font-size: 17.5px;
      line-height: 28px;
   }
  }
  
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    .card-p {
      font-size: 17px;
      line-height: 24px;
    }

  }

