.login-bg-con{
    display: flex;
}
.login-form{
    height:60%;
    width: 100%;
    padding-top: 20px;
}
.login-con{
    height: 100%;
}
.sign-in-con{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.join-con{
    width: 30vw;
}
.continue-p{
    font-size: 15px;

}

.hobby-h{
  color: rgb(36, 98, 234);
}
.passion-h{
    color:  #8064A2;
}
.g-i{
    font-size: 20px;
    margin-right: 10px;
}
button{
    background-color: transparent;
    font-size: 15px;
    font-weight:bold ;
    margin-right: 15px;
    margin-top: 30px;
}

/*///////////////////////////////////////*/
.in-h{
    font-size: 20px;
    color: #a69ab5;
    font-weight: bold;
    padding-left: 2%;
}

.box{
    height: 40px;
    width: 100%;
    border:1px solid #8064A2;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    align-items:center ;
    padding-left: 2%;
    cursor: pointer;
}
.line-p{
    font-size: 12px;
    color: black;
    margin-top: 8px;
    font-weight: bold;
}
.input{
    height: 42px;
    width: 100%;
    background-color: transparent;
    border:1px solid gray;
    color:gray;
    font-size: 13px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
}
.submit-con{
    width: 100%;
}
.remember-me-con{
    width: 100%;
}
.remember-me-con-row{
    width: 60%;
}
.strenth-p{
    font-size: 10px;
    color: gray;
    font-weight: bold;
    margin-left: 78%;
    margin-top: 3px;
   
}
.submmit-p{
    font-size: 11px;
    color: rgb(125, 125, 125);
    font-weight: bold; 
    margin-bottom: 0px;  
    margin-top: 50px;
    text-align: center;
    margin-bottom: 0px;
    margin: 0px;
}

.submmit-btn{
    height: 40px;
    width: 100%;
    background-color: #8064A2;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    margin: 0px;
    margin-top: 0px;
}

.checkbox{
    height: 15px;
    width: 15px;
    background-color: transparent;
    background-color: antiquewhite;
    margin-top: 4px;
    margin-right: 4px;
    cursor: pointer;
}
label{
    font-size: 13px;
    color: black;
}

@media screen and (max-width:576px){
    
    .content-con{
        padding-right: 10px;
        width: 100%;
    }
    .con-con{
        height: 20vh;
    }
   /*******/


.strenth-p{
    font-size: 9px;
    color: gray;
    font-weight: bold;
    margin-left: 80%;
    margin-bottom: 10px;
   
}
.submmit-p{
    width: 90%;
    height: 30px;
    font-size: 11px;
    color: rgb(125, 125, 125);
    font-weight: bold; 
    margin-bottom: 0px;  
    margin-top: 50px;
}
.span-p{
    font-size: 11px;
    color: rgb(22, 21, 21);
    font-weight: bold;   
}
.submmit-btn{
    height: 35px;
    width: 100%;
    background-color: #8064A2;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    margin-bottom: 45px;
}

.checkbox{
    height: 12px;
    width: 12px;
}
label{
    font-size: 10px;
    color: black;
    margin: 0px;
}
.in-h{
    font-size: 15px;
}

}

@media screen and (min-width:578px) and (max-width:768px){
    .content-con{
        padding-right: 20px;
        width: 100%;
    }


}

@media screen and (min-width:768px) and (max-width:1200px){
    .box{
        width:100% ;
    }
    .input{
        width:100% ;
    }
    .submmit-btn{
        width:100% ;
    }

}