.img{
    width:100%;
    height: 50vh;
}
@media screen and (max-width: 576px) {
    .img{
        height: 20vh;
    }
}
  
  @media screen and (min-width: 577px) and (max-width: 768px) {
    .img{
        height: 20vh;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 993px) {
    .img{
        height: 25vh;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .img{
        height: 25vh;
    }
  }

  
  @media screen and (min-width: 1201px) {
    .img{
        height: 35vh;
        margin-top: 3%;
    }
  }
  